@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-bg-pattern {
  background-color: #f8fafc;
  background-image: radial-gradient(#cbd5e1 1px, transparent 1px);
  background-size: 40px 40px;
}
